---
layout: "layout.njk"
---
<article>
    <div class="mb-8">
        <a href="/blog">
        <i class="fas fa-arrow-left mr-2"></i>
        Back to all posts
        </a>
    </div>
    <h1>{{ title }}</h1>
    <div class="post-meta">
        <p class="text-gray-400">Published on {{ date | readableDate }}</p>
        <span class="view-count" data-view-count data-slug="{{ page.fileSlug }}">Loading views...</span>
    </div>
    <br/>
    {{ content | safe }}
</article>
<script src="/js/view-counter.js"></script>
<div id="bottom"></div>
