# .dockerignore

# Git files
.git
.gitignore

# Docker files should not be in the build context
Dockerfile
docker-compose.yml
docker-compose.dev.yml

# Node.js dependencies are installed inside the container
node_modules
npm-debug.log

# Build output is generated inside the container
_site

# VS Code configuration
.vscode

# Documentation / Readmes
*.md