---
layout: layouts/base.njk
---
<div class="page-header">
    <h1>{{ title }}</h1>
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
</div>

<article>
    {{ content | safe }}
</article>
