body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c;
    color: #e2e8f0;
}
.section-title {
    border-bottom: 2px solid #4a5568;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}
.card {
    background-color: #2d3748;
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.tag {
    background-color: #4a5568;
    color: #e2e8f0;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.glass-card {
    background: rgba(31, 41, 55, 0.5); /* bg-gray-800 with opacity */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #2563EB;
    color: white;
    border: 1px solid transparent;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 9999px;
    transition-property: transform, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.btngray {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #374151;
    color: white;
    border: 1px solid transparent;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 9999px;
    transition-property: transform, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.btn:hover {
    background-color: #1D4ED8;
    transform: scale(1.05);
}
.btngray:hover {
    background-color: #4B5563;
    transform: scale(1.05);
}
.icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #4299e1;
}
article ul {
    list-style-type: disc;
    padding-left: 2rem; /* Adjust for indentation */
    margin-bottom: 1rem;
}

article ol {
    list-style-type: decimal;
    padding-left: 2rem; /* Adjust for indentation */
    margin-bottom: 1rem;
}

article li {
    margin-bottom: 0.5rem;
}
