---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    {%- set draft = page.data.draft %}
    {%- if not draft  %}
      {%- set priority = page.data.priority if page.data.priority else "0.5" %}
      <url>
        <loc>{{ site.url }}{{ page.url }}</loc>
        <lastmod>{{ page.date | htmlDateString }}</lastmod>
        <changefreq>{{ page.data.sitemapChangefreq | default("monthly") }}</changefreq>
        <priority>{{ page.data.sitemapPriority | default(0.5) }}</priority>
      </url>
    {%- endif %}
  {%- endfor %}
  <url>
    <loc>{{ site.url }}{{ site.resumeUrl }}</loc>
    <lastmod>2025-08-21</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
</urlset>
